- hosts: local
  connection: local

  tasks:
  - command: sudo hash
    tags:
      - brews
      - casks
      - mas
  
  - name: update homebrew
    homebrew:
      state: latest
      update_homebrew: yes

  - name: install brews
    homebrew:
      name: "{{item}}"
      state: latest
    with_items: "{{applications}}"
    tags: brews

  - name: install casks
    homebrew_cask:
      name: "{{item}}"
      state: installed 
    with_items: "{{cask_applications}}"
    tags: casks

  - name: install mac apps
    command: mas install {{item}}
    with_items: "{{mas_apps}}"
    tags: mas